*,*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: kad;
    src: url(../font/Kedebideri/Kedebideri-Medium.ttf);
}
body{
    /* display: flex; */
    background-color: rgb(70, 46, 46);
    text-transform: capitalize;
    
    font-family: kad;
}
.row{
    display: flex;
    
}
.top{
    margin-top: 0;
    background-image: url(../img/rows-red-seats-theater.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;

}