header {
    display: flex;
    width: 100%;
    height: 70px;
    /* border-bottom: 1px dotted white; */
    /* border: 1px solid white; */
    background-color: #000000c9;
    justify-content: space-between;

    >.row {

        width: 20%;
        height: 100%;
        /* border: 1px solid red; */
        /* background-color: brown; */
        display: flex;
        justify-content: center;

        * {
            width: 80%;
            height: 100%;
        }

        >nav {

            >ul {

                display: flex;

                >li {
                    display: flex;
                    align-items: center;
                    justify-content: center;


                    >a {
                        display: flex;
                        align-items: center;
                        /* border: 1px solid yellow; */
                        height: 60%;
                        margin-right: 10px;
                        justify-content: center;
                        position: relative;
                        color: white;

                        &::after {
                            content: '';
                            height: 1px;
                            background-color: white;
                            position: absolute;
                            left: 0;
                            bottom: 0;
                            width: 0;
                            transition: 0.4s;
                        }

                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }





                    }
                }
            }
        }

    }

}

/* h////////////////
 */
.row {
    width: 100%;
    justify-content: center;

    >h1 {
        color: white;
        text-align: center;
        font-size: 40px;
    }
}

.top {
    width: 100%;
    height: 1010px;

    .grid {
        border-radius: 20px;
        display: grid;
        grid-template-areas: "l1 c1 r1" "l2 c2 r2";
        width: 95%;
        height: 1000px;
        margin: 100px auto;
        justify-content: center;
        align-items: center;
        gap: 20px;
        background-color: rgba(139, 0, 0, 0.658);
        box-shadow: 0 0 10px;


        >div {
            width: 400px;

            height: 450px;
            /* border: 1px solid blue; */
            position: relative;

            >img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                transition: 0.8s;
                left: 0;

                &:hover {
                    scale: 0.90;
                }




            }

            >&::after {
                width: 100%;
                height: 60px;
                background-color: #ff000052;
                position: absolute;
                justify-content: center;
                align-items: center;
                display: flex;
                z-index: 2;
                bottom: 0;
                border-radius: 20px 20px 0 0;
                left: 0;
            }

            &:nth-of-type(1) {
                grid-area: l1;

                &::after {
                    color: white;
                    content: 'Christopher Walken';
                    width: 100%;
                    height: 60px;
                    background-color: #c71d1dc2;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    z-index: 2;
                    bottom: 0;
                    border-radius: 20px 20px 0 0;
                    left: 0;
                }

            }

            &:nth-of-type(2) {
                grid-area: c1;

                &::after {
                    color: white;
                    content: 'Sean Penn';
                    width: 100%;
                    height: 60px;
                    background-color: #c71d1dc2;
                    position: absolute;
                    z-index: 2;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    border-radius: 20px 20px 0 0;
                    bottom: 0;
                    left: 0;
                }
            }

            &:nth-of-type(3) {
                grid-area: r1;

                &::after {
                    color: white;
                    content: 'Clint Eastwood';
                    width: 100%;
                    height: 60px;
                    background-color: #c71d1dc2;
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px 20px 0 0;
                    display: flex;
                    z-index: 2;
                    bottom: 0;
                    left: 0;
                }
            }

            &:nth-of-type(4) {
                grid-area: l2;

                &::after {
                    color: white;
                    content: 'Dustin Hoffman';
                    width: 100%;
                    height: 60px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    background-color: #c71d1dc2;
                    border-radius: 20px 20px 0 0;
                    position: absolute;
                    z-index: 2;
                    bottom: 0;
                    left: 0;
                }
            }

            &:nth-of-type(5) {

                grid-area: c2;

                &::after {
                    color: white;
                    content: 'Edward Norton';
                    width: 100%;
                    height: 60px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    background-color: #c71d1dc2;
                    position: absolute;
                    z-index: 2;
                    bottom: 0;
                    left: 0;
                    border-radius: 20px 20px 0 0;
                }
            }

            &:nth-of-type(6) {
                grid-area: r2;

                &::after {
                    color: white;
                    content: 'Michael Caine';
                    width: 100%;
                    height: 60px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    background-color: #c71d1dc2;
                    position: absolute;
                    border-radius: 20px 20px 0 0;

                    z-index: 2;
                    bottom: 0;
                    left: 0;
                }
            }




        }







    }
}

/* gridend//////
 */
/* sec2 start////// */
.sec2 {


    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    >.grid1 {
        width: 1200px;
        /* background-color: rgba(222, 184, 135, 0.181); */
        border-radius: 20px;
        gap: 30px;
        display: grid;
        position: relative;
        height: 600px;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        
        
        div {
            position: relative;
           width: 100%;
            justify-content: center;
            /* border: 1px solid white; */

            >.images {
                border-radius: 20px;
               position: absolute;
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               object-fit: cover;
               transition: 0.8s;
               &:hover{
                scale:1.1;
               }
           }
           
            &:nth-of-type(1){
                grid-area: 1 /1 /span 1 / span 1;
                
            }
            &:nth-of-type(2){
                 grid-area: 2 /1 / span 1 / span 1;
            }
            &:nth-of-type(3){
               grid-area: 1 /2 / span 2 / span 2;
            }
            &:nth-of-type(4){
                grid-area: 1 /4 / span1 / span 1;
                
            }
            &:nth-of-type(5){
                 grid-area: 1 /5 / span 1 / span 1;
            }
            &:nth-of-type(6){
                 grid-area: 2 /5 /span 1 / span 2;
            }

            
        }



    }

}

/* second section ened////// */
footer {

    display: flex;
    margin-top: 20px;
    width: 100%;
    height: 130px;
    justify-content: right;
    background-color: #000000c9;

    >.logo {
        padding-right: 40px;
        margin-top: 3px;
        width: 120px;
        ;
        height: 100%;
        position: relative;

        &::after {
            content: 'developed by Elyas Forghani';
            font-size: 12px;
            position: absolute;
            left: 120px;
            bottom: 5px;
            color: rgb(255, 255, 255);
            z-index: 1;
        }

        >img {
            /* width: 60px; */
            height: 90%;
            border-radius: 105px 85px 152px 45px;
            -webkit-border-radius: 105px 85px 152px 45px;
            -moz-border-radius: 105px 85px 152px 45px;
            border: 15px solid #f8f0f0;
            border: 1px solid white;

        }

    }

    >.link {
        display: flex;
        width: 80px;

        height: 100%;

        ::after {
            content: 'linkedin';
            font-size: 14px;
        }

        >a {
            width: 40px;
            height: 100%;
        }
    }

}